html
    head
        title Phaser

        link(rel='stylesheet' href='./styles/styles.css')
        link(rel='stylesheet' href='./vendor/css/all.min.css')

        script.
          require('./render.js')
    body
        .frame.client-main
            .modal
                .modal-container
            .curtain
            .navigation
                .navigation-left
                    i.fas.fa-pen
                .navigation-center
                    span PHASER
                    .status
                .navigation-right
                    i.fas.fa-window-minimize
                    i.fas.fa-window-maximize
                    i.fas.fa-times
            .container
                .faders
                i.fas.fa-plus