@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap')

$color-silver = #C4C4C4
$color-gainsboro = #DFDFDF
$color-cultured = #f1f1f1
$color-white = #FFFFFF
$color-cornflower-blue = #6483FF
$color-maximum-blue-purple = #9AAFFF
$color-black = #000000

$value-border-radius = 5px

html, body
  padding 0
  margin 0

html
  body
    font-family 'Lato', sans-serif
    font-size 1.2em

    i
      cursor pointer
      transition color .2s
      margin 0 10px
      font-size 1.1em
      color $color-silver

      &:hover
        color $color-cornflower-blue

    h1
      color $color-cornflower-blue
      font-size 1.5em
      padding 0
      margin 0

    input[type='text'], input[type='number']
      outline none
      border none
      padding 15px
      background $color-cultured
      width 40vw
      border-radius $value-border-radius
      color $color-cornflower-blue
      font-size .95em
      margin 12.5px 0

      &::placeholder
        color $color-silver

    .button
      text-decoration none
      background $color-cornflower-blue
      color $color-white
      text-transform uppercase
      padding 12.5px
      cursor pointer
      transition background .3s, box-shadow .3s
      margin 5px
      border-radius $value-border-radius
      font-size .8em
      font-weight 600
      text-align center
      box-shadow -5px 5px 15px 0px rgba(100, 131, 255, .25)

      &:hover
        background $color-maximum-blue-purple
        box-shadow -5px 5px 15px 0px rgba(100, 131, 255, .15)

    .frame
      width 100%
      height 100%
      display flex
      border-radius $value-border-radius
      background $color-white
      color $color-gainsboro
      position absolute
      flex-direction column
      justify-content center

      .modal
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        z-index 3
        display grid
        align-items center
        justify-content center
        overflow hidden
        transform scale(0)
        transition transform .5s
        pointer-events none

        &.visible
          transform scale(1)

        .modal-container
          border-radius $value-border-radius
          background $color-white
          padding 55px 30px 50px 30px
          display grid
          grid-template-rows fit-content(100%) fit-content(100%) fit-content(100%)
          text-align center
          justify-content center
          position relative
          pointer-events all
          min-width 330px

          input
            min-width 315px

          i.fas.fa-times
            position absolute
            top 20px
            right 20px

          h1
            margin 0 0 35px 0

          a.button
            margin 32.5px 30% 0 30%

      .curtain
        position fixed
        top 0
        bottom 0
        right 0
        left 0
        z-index 2
        opacity 0
        background $color-black
        transition opacity .5s
        pointer-events none

        &.visible
          opacity .3
          pointer-events all

      .container
        padding 70px 60px 30px 60px
        display flex
        flex 1
        align-items center
        justify-content center
        margin calc(40px + 1em) 0 0 0

        .faders
          display flex
          height 100%

          .fader
            height 100%
            display grid
            grid-template-rows auto fit-content(100%)
            margin 0
            width 0
            transform scale(0)
            transition transform .5s, width .5s, margin .5s
            pointer-events none

            &.visible
              transform scale(1)
              width 115px
              margin 0 30px
              pointer-events all

            .fader-meta
              color $color-cornflower-blue
              text-align center
              margin 30px 0

            .fader-container
              background $color-cultured
              border-radius $value-border-radius
              position relative
              padding 30px 0
              text-align center
              width 0
              transition .5s

              i.fas.fa-times
                position absolute
                top 15px
                right 10px
                opacity 0
                pointer-events none
                transition .2s

              input[type='range']
                -webkit-appearance none
                height 5px
                width 0
                transform rotate(-270deg)
                transform-origin 0 0
                position absolute
                top 45px

                &::-webkit-slider-runnable-track
                  background $color-gainsboro
                  height 5px
                  border-radius 100px
                  transition background .2s
                  cursor pointer

                &::-webkit-slider-thumb
                  -webkit-appearance none
                  content ''
                  height 40px
                  width 40px
                  background $color-silver
                  border-radius 100%
                  transform translateY(-17.5px)
                  border 5px solid $color-cultured
                  cursor pointer
                  transition background .2s

                &:focus
                  outline none

                  &::-webkit-slider-runnable-track
                    background $color-maximum-blue-purple

                  &::-webkit-slider-thumb
                    background $color-cornflower-blue

            &.visible
              .fader-container
                width 115px

              &:hover
                i.fas.fa-times
                  opacity 1
                  pointer-events all

                input[type='range']
                  &::-webkit-slider-runnable-track
                    background $color-maximum-blue-purple

                  &::-webkit-slider-thumb
                    background $color-cornflower-blue

      .navigation
        background $color-cultured
        display grid
        grid-template-columns auto auto
        justify-content space-between
        align-items center
        padding 20px
        border-radius $value-border-radius $value-border-radius 0 0
        position absolute
        left 0
        right 0
        top 0
        -webkit-app-region drag

        & > * > i
          -webkit-app-region no-drag

        .navigation-left
          i
            transform rotateY(180deg)

        .navigation-center
          position absolute
          left 0
          right 0
          top 0
          bottom 0
          margin auto
          text-align center
          display grid
          align-items center
          pointer-events none
          grid-template-columns fit-content(100%) fit-content(100%)
          justify-content center

          .status
            width 7.5px
            height 7.5px
            border-radius 100%
            background $color-silver
            margin 0 7.5px
            transition background .3s

            &.active
              background $color-cornflower-blue

          span
            color $color-cornflower-blue
            font-weight 600