@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}
html body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
html body i {
  cursor: pointer;
  transition: color 0.2s;
  margin: 0 10px;
  font-size: 1.1em;
  color: #c4c4c4;
}
html body i:hover {
  color: #6483ff;
}
html body h1 {
  color: #6483ff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
html body input[type='text'],
html body input[type='number'] {
  outline: none;
  border: none;
  padding: 15px;
  background: #f1f1f1;
  width: 40vw;
  border-radius: 5px;
  color: #6483ff;
  font-size: 0.95em;
  margin: 12.5px 0;
}
html body input[type='text']::placeholder,
html body input[type='number']::placeholder {
  color: #c4c4c4;
}
html body .button {
  text-decoration: none;
  background: #6483ff;
  color: #fff;
  text-transform: uppercase;
  padding: 12.5px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
}
html body .button:hover {
  background: #9aafff;
}
html body .frame {
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 5px;
  background: #fff;
  color: #dfdfdf;
  position: absolute;
}
html body .frame .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s;
  pointer-events: none;
}
html body .frame .modal.visible {
  transform: scale(1);
}
html body .frame .modal .modal-container {
  border-radius: 5px;
  background: #fff;
  padding: 55px 30px 50px 30px;
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  text-align: center;
  justify-content: right;
  position: relative;
  pointer-events: all;
}
html body .frame .modal .modal-container i.fas.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
}
html body .frame .modal .modal-container h1 {
  margin: 0 0 35px 0;
}
html body .frame .modal .modal-container a.button {
  margin: 32.5px 30% 0 30%;
}
html body .frame .curtain {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  background: #000;
  transition: opacity 0.5s;
  pointer-events: none;
}
html body .frame .curtain.visible {
  opacity: 0.3;
  pointer-events: all;
}
html body .frame .container {
  padding: 60px 60px 30px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(40px + 1em) 0 0 0;
}
html body .frame .container .faders {
  display: flex;
  height: 100%;
}
html body .frame .container .faders .fader {
  height: 100%;
  display: grid;
  grid-template-rows: auto fit-content(100%);
  margin: 0 30px;
  width: 115px;
  transform: scale(0);
  transition: transform 0.5s;
}
html body .frame .container .faders .fader.visible {
  transform: scale(1);
}
html body .frame .container .faders .fader .fader-meta {
  color: #6483ff;
  text-align: center;
  margin: 30px;
}
html body .frame .container .faders .fader .fader-container {
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  padding: 30px 0;
  text-align: center;
  width: 115px;
}
html body .frame .container .faders .fader .fader-container i.fas.fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
}
html body .frame .container .faders .fader .fader-container input[type='range'] {
  -webkit-appearance: none;
  height: 5px;
  width: 0;
  transform: rotate(-270deg);
  transform-origin: 0 0;
  position: absolute;
  top: 45px;
}
html body .frame .container .faders .fader .fader-container input[type='range']::-webkit-slider-runnable-track {
  background: #9aafff;
  height: 5px;
  border-radius: 100px;
}
html body .frame .container .faders .fader .fader-container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  content: '';
  height: 40px;
  width: 40px;
  background: #6483ff;
  border-radius: 100%;
  transform: translateY(-17.5px);
  border: 5px solid #f1f1f1;
  cursor: pointer;
}
html body .frame .container .faders .fader .fader-container input[type='range']:focus {
  outline: none;
}
html body .frame .navigation {
  background: #f1f1f1;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
}
html body .frame .navigation > * > i {
  -webkit-app-region: no-drag;
}
html body .frame .navigation .navigation-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: grid;
  align-items: center;
  pointer-events: none;
}
html body .frame .navigation .navigation-center span {
  color: #6483ff;
  font-weight: 600;
}
